@import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

// @import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

nav {
  background-color: aliceblue;
}

.hero {
  display: flex;
  height: 100vh;
  background-color: orange;
  justify-content: center;
  align-items: center;
}
#aSide model-viewer {
  height: 80%;
  width: 1800px;
  text-align: center;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  border: none;
}

footer {
  text-align: center;
  background-color: aliceblue;
}
